h6#results-text {
	display: none;
}
ul { display:block;
 margin: 0;
 padding:0px;
 font-size: 10px; }

ul#results {
	z-index:101;
	position: absolute;
	display: none;
	width: 268px;
	margin-top: 60px;
	margin-left: 510px;
	border: 1px solid #ababab;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: rgba(0, 0, 0, .15) 0 1px 3px;
	-moz-box-shadow: rgba(0,0,0,.15) 0 1px 3px;
	box-shadow: rgba(0, 0, 0, .15) 0 1px 3px;
}

ul#results li {
	padding: 8px;
	cursor: pointer;
	background-color:silver;
	border-top: 1px solid #cdcdcd;
	transition: background-color .3s ease-in-out;
	-moz-transition: background-color .3s ease-in-out;
	-webkit-transition: background-color .3s ease-in-out;
	
}
ul#results li:hover {
	background-color: #F7F7F7;
}
ul#results li:first-child {
	border-top: none;
}
ul#results li h5, ul#results li h6 {
	transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
	-webkit-transition: color .3s ease-in-out;
	color: #616161;
	line-height: 1.2em;
}
ul#results li:hover h5, ul#results li:hover h6  {
	color: #3b3b3b;
	font-weight: bold;
}

ul#result
{
	margin-left:20px;
}
ul#result li h3{
 font-size: x-large;
 color:white;
 margin: 20px;
	left: 50px;

}

ul#result1 li h3{
 font-size: x-large;
 color:white;
 margin: 20px;
	left: 50px;

}

ul#result2 li h3{
 font-size: x-large;
 color:white;
 margin: 20px;
	left: 50px;
}
ul#per
{
	margin-left:20px;
}
ul#per {
 font-size: large;
position:relative;
top: -46px;
	left: 130px;

}

ul#per1 {
 font-size: 15px;
 position:relative;
top: -44px;
	left: 110px;

}

ul#per2 {
 font-size: large;
position:relative;
 top: -44px;
	left: 100px;
}





